{%extends "Home.html"%}

{%block content%}
<center>
    <!-- <h2 style="background-color:red;">Please Login</h2> -->
</center>

<form method="post">
    {%csrf_token%}
    <table class="table">
        <tr>
            <td>Enter User Name</td>
            <td><input type="text" name="uname" class="form-control" required /></td>
        </tr>

        <tr>
            <td>Enter Password</td>
            <td><input type="password" name="pwd" class="form-control" required /></td>
        </tr>

        <tr>
            <td><button class="btn btn-success" value="Login">Login</button></td>
        </tr>
    </table>
</form>
{%endblock%}